<div id="mycontainer" class="note-content" contenteditable="false">     
<form id="form" action="/api/medication/" method="get" novalidate>
 <div>
   <input type="text" name="search" placeholder="search term"> 
   <input type="submit"  value="Submit" class="btn btn-default button1">
 </div>
</form>

  <table class="table">
    <thead>
      <tr>
        <th>Drug</th>
        <th>Description</th>
        <th>Dosage</th>
        <th>Distance</th>
        <th>Popularity</th>
      </tr>
    </thead>
    	{{#each this}}
      <tr>
        <td>{{drug}}</td>
        <td>{{description}}</td>
      <td>
      {{#each dosage}}
         {{this}} ,
        {{/each}}
        </td>       
        <td>{{distance}}</td>
        <td>{{popularity}}</td>
      </tr>
        {{/each}}
   
  </table>

</div>
